<!-- Start Containerbar -->
<div id="containerbar">
  <div class="leftbar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="rightbar">
   <app-header></app-header>
    <div class="contentbar mt-6">
      <router-outlet></router-outlet>
    </div>
    <div class="footerbar">
      <footer class="footer">
        <p class="mb-0">© 2020 Orbiter - All Rights Reserved.</p>
      </footer>
    </div>
    <div class="module-loader" *ngIf="moduleLoading">
      <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
    </div>
  </div>
</div>
