<!-- Start row -->
<div class="row">

        <div class="col-lg-4 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <span class="align-self-center mr-3 action-icon badge badge-danger-inverse"><i class="feather icon-code"></i></span>
                        <div class="media-body">
                            <p class="mb-0">Challenges</p>
                            <h5 class="mb-0">{{item.challengeCount}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <span class="align-self-center mr-3 action-icon badge badge-primary-inverse"><i class="dripicons-checklist"></i></span>
                        <div class="media-body">
                            <p class="mb-0">Tasks</p>
                            <h5 class="mb-0">{{item.taskCount}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <span class="align-self-center mr-3 action-icon badge badge-success-inverse"><i class="feather icon-folder"></i></span>
                        <div class="media-body">
                            <p class="mb-0">Task Submission</p>
                            <h5 class="mb-0">{{item.submissionCount}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->


<div class="row">
    <!-- Start col -->
    <div class="col-lg-12 col-xl-9">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-lg-6 col-xl-6">
           <app-challenge-card [items]="items" [waiting]="waiting"></app-challenge-card>
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <h5 class="card-title mb-0">Best performers</h5>
                            </div>
                            <div class="col-3">
                                <div class="dropdown">
                                    <button class="btn btn-link p-0 font-18 float-right" type="button" id="widgetPerformers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-more-horizontal-"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="widgetPerformers" style="">
                                        <a class="dropdown-item font-13" href="#">Refresh</a>
                                        <a class="dropdown-item font-13" href="#">Export</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>%</th>
                                    <th>Task</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><img src="assets/images/users/men.svg" class="img-fluid" width="35" alt="customer"></td>
                                    <td>John Doe</td>
                                    <td>demo@example.com</td>
                                    <td>95%</td>
                                    <td>1500</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/images/users/women.svg" class="img-fluid" width="35" alt="customer"></td>
                                    <td>Daniel Chris</td>
                                    <td>demo@example.com</td>
                                    <td>93%</td>
                                    <td>1300</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/images/users/boy.svg" class="img-fluid" width="35" alt="customer"></td>
                                    <td>John Joshua</td>
                                    <td>demo@example.com</td>
                                    <td>87%</td>
                                    <td>1250</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    <!-- End col -->
    <!-- Start col -->
    <div class="col-lg-12 col-xl-3">
        <div class="card m-b-30 quote-bg">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class=""><i class="mdi mdi-format-quote-open text-black font-20"></i></span>
                    </div>
                    <div class="col-10">
                        <h5 class="card-title mb-0 text-right">La</h5>
                    </div>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="assets/images/general/school_quote.svg" class="img-fluid my-3" width="150" alt="school quote">
                <h5 class="text-primary font-italic my-3">Be the change, You wish<br> to see in the World.</h5>
            </div>
        </div>
    </div>
    <!-- End col -->
</div>

<app-loader [isLoadingData]="waiting"></app-loader>
