
<!-- Start row -->
    <div class="row">

        <div class="col-lg-4 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <span class="align-self-center mr-3 action-icon badge badge-danger-inverse"><i class="feather icon-code"></i></span>
                        <div class="media-body">
                            <p class="mb-0">Challenges</p>
                            <h5 class="mb-0">85</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <span class="align-self-center mr-3 action-icon badge badge-primary-inverse"><i class="feather icon-folder"></i></span>
                        <div class="media-body">
                            <p class="mb-0">Projects</p>
                            <h5 class="mb-0">85</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <span class="align-self-center mr-3 action-icon badge badge-success-inverse"><i class="feather icon-folder"></i></span>
                        <div class="media-body">
                            <p class="mb-0">Projects</p>
                            <h5 class="mb-0">85</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
