<div class="containerbar authenticate-bg" id="containerbar">
    <!-- Start Container -->
    <div class="container">
        <div class="auth-box login-box">
            <!-- Start row -->
            <div class="row no-gutters align-items-center justify-content-center">
                <!-- Start col -->
                <div class="col-md-5 col-lg-4">
                    <!-- Start Auth Box -->
                    <div class="auth-box-right">
                        <div class="card">
                            <div class="card-body">
                                <p class="auth-form__title strong mb-3">Forgot Password</p>
                                <p class="auth-form__subtitle mb-3">
                                    Kindly provide the email address you registered with
                                </p>
                                <form class="form" #f="ngForm" (ngSubmit)="forgotPasswordHandler(f)">
                                    <div class="form-head">
                                        <a class="logo" href="index.html"><img alt="logo" class="img-fluid" src="assets/images/app-logo.png"></a>
                                    </div>
                                    <app-alert-component
                                            *ngIf="alert"
                                            [message]="alert.response"
                                            [cssClass]="alert.cssClass"
                                            [iconClass]="alert.iconClass"
                                    >
                                    </app-alert-component>
                                    <!-- Email address -->
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input
                                                [ngClass]="{
              'text-danger': email.invalid && (email.dirty || email.touched),
              'text-success': email.valid && (email.dirty || email.touched)
            }"
                                                type="email"
                                                class="form-control"
                                                id="email"
                                                name="email"
                                                required
                                                email
                                                #email="ngModel"
                                                [(ngModel)]="item.email"
                                                aria-describedby="email input box"
                                                placeholder="Email Address"
                                        />
                                        <small
                                                class="form-text text-danger"
                                                *ngIf="email.errors?.required && (email.dirty || email.touched)"
                                        ><i class=""></i> Please enter a valid email address</small
                                        >
                                        <small
                                                class="form-text text-danger"
                                                *ngIf="email.errors?.email && (email.dirty || email.touched)"
                                        >Email must be a valid email address</small
                                        >
                                    </div>

                                    <btn-loading
                                            [btnClass]="'btn btn-block bg--primary text--white submit-button font-18'"
                                            [loadingText]="'Loading'"
                                            [loading]="loading"
                                            [disabled]="!f.valid || loading"
                                    >
                                        Send Password Reset <i class="fa fa-arrow-right"></i>
                                    </btn-loading>
                                </form>

                                <p class="mb-0 mt-3"> Back to <a [routerLink]="[ '/auth/login' ]">Login</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Auth Box -->
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
    </div>
    <!-- End Container -->
</div>
