<div class="containerbar authenticate-bg" id="containerbar">
    <!-- Start Container -->
    <div class="container">
        <div class="auth-box login-box">
            <!-- Start row -->
            <div class="row no-gutters align-items-center justify-content-center">
                <!-- Start col -->
                <div class="col-md-5 col-lg-4">
                    <!-- Start Auth Box -->
                    <div class="auth-box-right">
                        <div class="card">
                            <div class="card-body">
                                <p class="auth-form__title mb-3">Reset Password</p>
                                <p class="auth-form__subtitle mb-3">
                                    Choose a new password
                                </p>
                                <form class="form" #f="ngForm" (ngSubmit)="resetPasswordHandler(f)" [mustMatch]="['password', 'confirmPassword']">

                                    <div class="form-head">
                                        <a class="logo" href="index.html"><img alt="logo" class="img-fluid" src="assets/images/app-logo.png"></a>
                                    </div>
                                    <app-alert-component
                                            *ngIf="alert"
                                            [message]="alert.response"
                                            [cssClass]="alert.cssClass"
                                            [iconClass]="alert.iconClass"
                                    >
                                    </app-alert-component>
                                    <!-- Password -->
                                    <div class="form-group" >
                                        <label for="password">Password</label>
                                        <input [ngClass]="{
            'text-danger': password.invalid && (password.dirty || password.touched),
            'text-success': password.valid && (password.dirty || password.touched) }"
                                               type="password"
                                               class="form-control"
                                               id="password"
                                               name="password" required minlength="6"
                                               #password="ngModel" [(ngModel)]="item.password"
                                               aria-describedby="password input box"
                                               placeholder="Enter Password"
                                        />
                                        <small class="form-text text-danger"
                                               *ngIf="password.errors?.required && (password.dirty || password.touched)"><i class=""></i>Please enter your password</small>
                                        <small class="form-text text-danger"
                                               *ngIf="password.errors?.minlength && (password.dirty || password.touched)"><i class=""></i>Password must be at least 6 characters</small>
                                    </div>
                                    <!-- Confirm Password -->
                                    <div class="form-group" >
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input [ngClass]="{
            'text-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
            'text-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched) }"
                                               type="password"
                                               class="form-control"
                                               id="confirmPassword"
                                               name="confirmPassword" required
                                               #confirmPassword="ngModel" [(ngModel)]="item.confirmpassword"
                                               aria-describedby="password input box"
                                               placeholder="Confirm Password"
                                        />
                                        <small class="form-text text-danger"
                                               *ngIf="confirmPassword.errors?.required && (confirmPassword.dirty || confirmPassword.touched)"><i class=""></i>Please enter your password</small>
                                        <small class="form-text text-danger"
                                               *ngIf="confirmPassword.errors?.mustMatch && (confirmPassword.dirty || confirmPassword.touched)"><i class=""></i>Password do not match</small>
                                    </div>

                                    <btn-loading
                                            [btnClass]="'btn btn-block bg--primary text--white submit-button'"
                                            [loadingText]="'Loading'"
                                            [loading]="loading"
                                            [disabled]="!f.valid || loading"
                                    >
                                        Reset Password <i class="fa fa-arrow-right"></i>
                                    </btn-loading>
                                </form>
                                <p class="mb-0 mt-3">Back to  <a [routerLink]="[ '/auth/login' ]">Login</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Auth Box -->
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
    </div>
    <!-- End Container -->
</div>
