<section class="dashboard__sidebar app-sidebar">
  <div class="app-sidebar__profile d-flex flex-column justify-content-center align-items-center">
    <div class="app-sidebar__profile--avatar d-flex align-items-center justify-content-center">GL
    </div>
    <div class="app-sidebar__profile--details">
      <p>{{nickName}}</p>
      <p>{{email}}</p>
    </div>
  </div>
  <div class="app-sidebar__controls d-flex flex-column align-items-center">
    <div [ngClass]="{'app-sidebar__controls--active': item.active}"
         *ngFor="let item of nav"
         (click)="onClickChangeActiveFlag(item)"
         routerLink="{{item.state}}"
      class="app-sidebar__controls--home d-flex align-items-center clickable">
      <span [class]="'ml-5 mr-2 app-sidebar__icon '+ item.icon"></span>
      <p class="m-0">{{item.name}}</p>
    </div>
  </div>
</section>
