
  <!-- Start Sidebar -->
  <div class="sidebar">
    <!-- Start Logobar -->
    <div class="logobar">
      <a class="logo logo-large"><img src="assets/images/logo.png" class="img-fluid" alt="logo"></a>
      <a  class="logo logo-small"><img src="assets/images/logo.png" class="img-fluid" alt="logo"></a>
    </div>
    <!-- End Logobar -->
    <!-- Start Navigationbar -->
    <div class="navigationbar">
      <ul class="vertical-menu">
        <li [ngClass]="{'active': item.active}"
                *ngFor="let item of nav" >
          <a (click)="onClickChangeActiveFlag(item)" [ngClass]="{'active': item.active}"
             routerLink="{{item.state}}" >
            <img src="assets/images/svg-icon/{{item.icon}}" class="img-fluid" alt="widgets"><span>{{item.name}}</span>
          </a>
        </li>
        <li>
          <a (click)="logout()" href="javascript:void(0)" >
            <img src="assets/images/svg-icon/logout.svg" class="img-fluid" alt="widgets"><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Navigationbar -->
  </div>
  <!-- End Sidebar -->

