
  <!-- Start Sidebar -->
  <div class="sidebar">
    <!-- Start Logobar -->
    <div class="logobar">
      <a href="index.html" class="logo logo-large"><img src="assets/images/logo.svg" class="img-fluid" alt="logo"></a>
      <a href="index.html" class="logo logo-small"><img src="assets/images/small_logo.svg" class="img-fluid" alt="logo"></a>
    </div>
    <!-- End Logobar -->
    <!-- Start Navigationbar -->
    <div class="navigationbar">
      <ul class="vertical-menu">
        <li  *ngFor="let item of nav" >
          <a (click)="onClickChangeActiveFlag(item)"
             routerLink="{{item.state}}" >
            <img src="assets/images/svg-icon/{{item.icon}}" class="img-fluid" alt="widgets"><span>{{item.name}}</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Navigationbar -->
  </div>
  <!-- End Sidebar -->

