/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';

//html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  background-color: #dc4f4f;
  color: white;
}

.success{
  background-color: #388438;
  color: white;
}

.warning{
  background: #dea606;
  color: #ffffff;
}
