// input
$input-background: #EAEAEA;
$input-color: #8A8A8A;

// blue variants
$primary-color:  #049CE4;

// white variants
$primary-white: #FFFFFF;

// black variants
$primary-black: #000000;
// dashboard
$dashboard-background: #E5E5E5;

$background:    $primary-white !default;
